[Unit]
Description=Application Permission Management Daemon
Requires=dbus.service
After=dbus.socket pre-user-session.target

[Service]
Type=notify
ExecStart=/usr/bin/sailjaild --systemd
Restart=always

[Install]
WantedBy=multi-user.target
